// all the Sass code handling the layout, which is the container and grid systems

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	color: #fff;
}

body {
	background-color: #222;
}

// .container {
// }

h1 {
	position: relative;
	margin: 100px auto;
	width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	p {
		padding-top: 15px;
	}
}

.suggestions {
	list-style: none;
	margin-top: 20px;

	button {
		width: 200px;
		transition-duration: 0.4s;
		background-color: #555555;
		// margin: 5px;
		padding: 5px 20px;
	}
	:hover {
		background-color: #e7e7e7;
		color: #555555;
		font-weight: 700;
	}
}

.weather {
	display: none;
	margin-top: 190px;

	.weather-icon {
		width: 170px;
	}
	img {
		width: 50px;
	}
	h1 {
		font-size: 80px;
		font-weight: 500;
		margin: 10px;
		width: 400px;
	}
	h2 {
		font-size: 45px;
		font-weight: 400;
	}
	.details {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 400px;
		padding: 0 20px;
		margin: 10px;
		.col {
			display: flex;
			align-items: center;
			text-align: left;
			img {
				width: 70px;
				margin-right: 10px;
			}
			.humidity,
			.wind {
				font-size: 28px;
				margin-top: 6px;
			}
		}
	}
}

.shape-divider-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;

	svg {
		position: relative;
		display: block;
		width: calc(100% + 1px);
		height: 83px;
		transform: rotateY(180deg);
	}
}

.shape-divider-top .shape-fill {
	fill: #d8d1d1;
}
