// all the Sass code handling the layout, which is the container and grid systems

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	box-sizing: border-box;
	color: #fff;
}

body {
	background-color: #222;
}

h1 {
	position: relative;
	margin: 100px auto;
	width: 200px;
}

.shape-divider-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.shape-divider-top svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 83px;
	transform: rotateY(180deg);
}

.shape-divider-top .shape-fill {
	fill: #d8d1d1;
}
